# chapter 4

functions

In [1]:
# Define a simple function to add two numbers
def add_numbers(a, b):
    result = a + b
    return result

# Use the function to add two numbers
sum_result = add_numbers(5, 3)
print("Sum:", sum_result)

# Define a function to find the factorial of a number using recursion
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

# Use the factorial function
factorial_result = factorial(5)
print("Factorial of 5:", factorial_result)

Sum: 8
Factorial of 5: 120

In [2]:
# Define a list of numbers
numbers = [42, 17, 8, 23, 56, 91, 4, 67]

# Use the max function to find the maximum value in the list
max_value = max(numbers)

# Print the maximum value
print("The maximum value is:", max_value)

The maximum value is: 91

In [3]:
# Explicit type conversion (Type Casting)
# Convert a string to an integer
string_num = "42"
integer_num = int(string_num)
print("String to Integer Conversion:", integer_num)

# Convert an integer to a float
int_value = 7
float_value = float(int_value)
print("Integer to Float Conversion:", float_value)

# Convert a float to a string
float_num = 3.14
string_num = str(float_num)
print("Float to String Conversion:", string_num)

# Implicit type conversion (Type Coercion)
# Perform operations with different types
int_num = 5
float_num = 2.5
result = int_num + float_num
print("Implicit Type Conversion:", result)

# Using type() function to check data types
print("Data Type of result:", type(result))

String to Integer Conversion: 42
Integer to Float Conversion: 7.0
Float to String Conversion: 3.14
Implicit Type Conversion: 7.5
Data Type of result: <class 'float'>

In [5]:
# Convert other data types to strings
num = 42
float_num = 3.14

# Convert integer and float to strings
num_str = str(num)
float_num_str = str(float_num)

# Check the data types after conversion
print("Original data types:")
print("num:", type(num))
print("float_num:", type(float_num))

print("\nData types after string conversion:")
print("num_str:", type(num_str))
print("float_num_str:", type(float_num_str))

Original data types:
num: <class 'int'>
float_num: <class 'float'>

Data types after string conversion:
num_str: <class 'str'>
float_num_str: <class 'str'>

In [6]:
# Define a function to calculate the area of a rectangle
def calculate_rectangle_area(length, width):
    area = length * width
    return area

# Input values
length = 10
width = 5

# Call the function and store the result
area_of_rectangle = calculate_rectangle_area(length, width)

# Print the result
print("The area of the rectangle is:", area_of_rectangle)

The area of the rectangle is: 50

In [7]:
# Define a function that takes two numbers as arguments and returns their sum
def add_numbers(a, b):
    result = a + b
    return result

# Define input values
num1 = 10
num2 = 5

# Call the function with the input values and store the result
sum_result = add_numbers(num1, num2)

# Print the result
print("The sum of", num1, "and", num2, "is:", sum_result)

The sum of 10 and 5 is: 15

# excercise

In [9]:
# Define a function to calculate the pay with time and a half for overtime
def computepay(hours, rate):
    if hours <= 40:
        pay = hours * rate  # Regular pay
    else:
        regular_hours = 40
        overtime_hours = hours - 40
        pay = (regular_hours * rate) + (overtime_hours * 1.5 * rate)  # Regular + Overtime pay
    return pay

# Input values
hours_worked = float(input("Enter the number of hours worked: "))
hourly_rate = float(input("Enter the hourly rate: "))

# Calculate the pay using the computepay function
total_pay = computepay(hours_worked, hourly_rate)

# Print the result
print("Total pay: $", total_pay)

Enter the number of hours worked: 45
Enter the hourly rate: 10
Total pay: $ 475.0